html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,#0f9fff,#fff);
}
.heart{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-gap: 0.2vmax;
}
.heart > * {
    width: 3vmax;
    height: 3vmax;
    border-radius: 0.3vmax;
}
.heart .element{
    background-color: #ff3300;
    position: relative;
    animation: animas 4s infinite;
    opacity: 0;
}
.heart .element:nth-last-of-type(2n){
    animation-delay: 0.2s;
}
.heart .element:nth-last-of-type(3n){
    animation-delay: 0.3s;
}
.heart .element:nth-last-of-type(5n){
    animation-delay: 0.5s;
}
.heart .element:nth-last-of-type(7n){
    animation-delay: 0.7s;
}
.heart .element:nth-last-of-type(11n){
    animation-delay: 1.1s;
}
.heart .element:nth-last-of-type(13n){
    animation-delay: 1.3s;
}
@keyframes animas {
    0%{
        opacity: 0;
        top: -20vmax;
    }
    25%,75%{
        opacity: 1;
        top: 0;
    }
    100%{
        opacity: 0;
        top: 20vmax;
    }
}
.center{
    font-family: "Microsoft YaHei UI";
    font-size: 1.5vmax;
    margin-top: 15vh;
    text-align: center;
    width: 30vmax;
}
.center a{
    color: #CC0099;
    cursor: pointer;
}